body {
	font-family: "ff-dagny-web-pro";
}

#wrap {
	position: relative;
	width:100vw;
	height:100vh;
	background-color: ;
}

#bingo-board {
	width:100vw;
	height:100wh;
}

.bingo-card {
	width:25vw;
	height:25vh;
	border:1px solid black;
	float:left;
	text-align: center;
	box-sizing: border-box;
	display: table;
	cursor: pointer;
}

.bingo-card .content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.bingo-card.bingo {
	background-color: green;
}